<header class="app-header">
  <div class="header-container">
    <div class="header-logo-container">
      <a routerLink="/daznfantasy" class="header-logo-link">
        <img src="/images/LogoFNTS__1_-removebg-preview.png" alt="FNTS Logo" class="header-logo" />
      </a>
    </div>
    <nav class="header-nav">
      <a routerLink="/daznfantasy/news" class="nav-link">Noticias</a>
      <a routerLink="/daznfantasy/leagues" class="nav-link">Ligas</a>
      <a routerLink="/daznfantasy/login" class="nav-link">Iniciar Sesión</a>
    </nav>
  </div>
</header>